<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- 配置数据源 javax.sql.DataSource -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"></property>
		<property name="username" value="scott"></property>
		<property name="password" value="tiger"></property>
	</bean>

	<!-- 配置SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="mappingLocations">
			<list>
				<value>classpath:domain/hbm/*.hbm.xml</value>
			</list>
		</property>
	</bean>
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="baseDao" class="dao.impl.BaseDaoImpl" abstract="true">
		<property name="template" ref="hibernateTemplate"></property>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- BBS模块 -->
	<bean id="bbsDao" class="dao.impl.BbsDaoImpl" parent="baseDao"></bean>
	<bean id="bbsAction" class="action.BbsAction" scope="prototype">
		<property name="bbsDao" ref="bbsDao"></property>
	</bean>

	<!-- BBS模块 -->
	<bean id="albumDao" class="dao.impl.AlbumDaoImpl" parent="baseDao"></bean>
	<bean id="albumAction" class="action.AlbumAction" scope="prototype">
		<property name="albumDao" ref="albumDao"></property>
	</bean>

	<!-- 配置Action Bean -->

	<!-- 配置Dao Bean -->
	<!-- <bean id="MsgDao" class="dao.MsgDao"> -->
	<!-- <property name="template" ref="hibernateTemplate"></property> -->
	<!-- </bean> -->
	<bean id="userCountDao" class="dao.impl.UserCountDaoImpl">
		<property name="template" ref="hibernateTemplate"></property>
	</bean>

	<bean id="userCountAction" class="action.UserCountAction">
		<property name="dao" ref="userCountDao"></property>
	</bean>
</beans>
